extends headerbase

append scripts
  script(src='/javascripts/create_channel.bundle.js')

block body_content
  #createChannel
    navigation-menu(v-bind:user='user', v-bind:active_index='activeIndex', v-on:logout-event='handleLogout')
    .container.mt-5
      .row.justify-content-xl-center
        .col-xl-8
          create-channel-form(v-on:create-channel-event='handleCreateChannel', v-bind:user='user')
