extends mainlayoutbase

append styles
  // Custom styles for this template
  link(href='/stylesheets/jumbotron.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')
  link(href='/stylesheets/animation.css', rel='stylesheet')
