extends template

append styles
  // Custom styles for this template
  link(href='/stylesheets/jumbotron.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')
  link(href='/stylesheets/animation.css', rel='stylesheet')
block body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='#') ItemSync

  .jumbotron
    .container
      h1 リアルタイムにタスクを同期
      p
        | 複数人でタスクを共有。タスクの変更はリアルタイムに同期。
        br 
        | オフライン操作も迷うことはありません。
      p
        a.btn.btn-primary.btn-lg.try-color(href='#', role='button') Try now
  .container
    h2 Real Demo 
  #item-area
    .container
      .row
        transition-group()
          todo-item(v-for='eachitem in items', :key='eachitem.id', v-bind:item='eachitem', v-on:delete-item-event='handleDeleteItem', v-on:update-item-event='handleUpdateItem')
    .cotainer
      .right-align
        add-item(v-on:add-item-event='handleAddItem')
