extends template

append styles
  // Custom styles for this template
  link(href='/stylesheets/jumbotron.css', rel='stylesheet')
block body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='#') ItemSync

  .jumbotron
    .container
      h1 リアルタイムにタスクを同期
      p
        | 複数人でタスクを共有。タスクの変更はリアルタイムに同期。
        br 
        | オフライン操作も迷うことはありません。
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Try now
  .container
    h2 Real Demo 
  .container
    #item-area
      .row
        todo-item(v-for='eachitem in items', v-bind:item='eachitem', v-on:delete-item-event='handleDeleteItem')
