extends headerbase

append scripts
 script(type='text/javascript').
   var channelId = !{JSON.stringify(channelIdString)}
 script(src='/javascripts/privatechannel.bundle.js')

block body_content
  #channel-area
    navigation-menu(v-bind:user='user', v-bind:active_index='activeIndex', v-on:logout-event='handleLogout')
    .container.mt-5
      h2(v-cloak) {{ channelName[0] }}
    .container
      transition-group(tag='div', class='row')
        todo-item(v-for='eachitem in items', :key='eachitem.id', v-bind:item='eachitem', v-on:delete-item-event='handleDeleteItem', v-on:update-item-event='handleUpdateItem')
    .container
      .row.justify-content-end
        add-item(v-on:add-item-event='handleAddItem')
