extends headerbase

append scripts
  script(src='/javascripts/public_channels.bundle.js')

block body_content
  #publicChannels
    navigation-menu(v-bind:user='user', v-bind:active_index='activeIndex', v-on:logout-event='handleLogout')
    .container.mt-5
      .row.justify-content-center
        .col-10
          channel-item(v-for='eachchannel in channels', :key='eachchannel.id', v-bind:channel='eachchannel')
