body {
  background-color: #e9ecef;
}

.item-padding {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-color {
  border: 3px solid transparent;
  border-radius: 10px;
  border-color: #000000;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.add-button {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.right-align {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.cursor-item {
  cursor: pointer;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-shadow {
  -webkit-filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  -moz-filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  -ms-filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

[v-cloak] {
  display: none;
}